body{
    background-image: url(img/hatter.png);
}
h1{
    text-align: center;
    color: #eb7100;
}
h2{
    text-align: center;
    color: #eb7100;
}
h3{
    text-align: center;
    color: #eb7100;
}