div{
background-color: cadetblue;
color: black;
font-size: xx-large;
font-weight: 300;
}
button{
  background-color:cyan;
  color:black;
}
.shape1-4{
  color: blueviolet;
}
.text1-4{
  color: white;
}

#element-one{
  background-color: yellow;

}
.paros{

color: violet;
}



